.customlink {
    display: flex;
    align-items: center;

    a {
        display: flex;
        align-items: center;
        color: #0324ec99;
        cursor: pointer;
    }
    
    span {
        transition: ease-in-out 0.2s;
    }
    
    h5 {
        margin: 20px 0;
        font-weight: 500;
        font-size: 16px;
    }
    
    a:hover > h5 {
        text-decoration: underline;
    }
    
    a:hover > span {
        transform: translateX(10px);
    }
}

// FOOTER____________________________________

footer {
    width: 100%;
    height: 200px;
    background-color: #fafafa;
    color: #a8a8a8;
    position: relative;
    margin: 70px 0 0;
    font-weight: 300;
    
    img {
        height: 60px;
        width: auto;
        margin: 0 10px 0 0;
        filter: saturate(0);
        opacity: 0.5;
    }
}

.footer-wrapper {
    padding: 20px;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
}






// WAVES____________________________________

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 100px;
    background: #ffffff;
}

.parallax > use {
    -webkit-animation: moveForever 25s cubic-bezier(.55, .5, .45, .5) infinite;
            animation: moveForever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax > use:nth-child(1) {
    -webkit-animation-delay: -2s;
            animation-delay: -2s;
    -webkit-animation-duration: 20s;
            animation-duration: 30s;
}

.parallax > use:nth-child(2) {
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
    -webkit-animation-duration: 30s;
            animation-duration: 43s;
}

.parallax > use:nth-child(3) {
    -webkit-animation-delay: -6s;
            animation-delay: -6s;
    -webkit-animation-duration: 53s;
            animation-duration: 53s;
}

.parallax > use:nth-child(4) {
    -webkit-animation-delay: -2s;
            animation-delay: -2s;
    -webkit-animation-duration: 20s;
            animation-duration: 30s;
}

.parallax > use:nth-child(5) {
    -webkit-animation-delay: -5s;
            animation-delay: -5s;
    -webkit-animation-duration: 53s;
            animation-duration: 38s;
}

@-webkit-keyframes moveForever {
    0% {
        -webkit-transform: translate3d(-90px, 0, 0);
                transform: translate3d(-90px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(85px, 0, 0);
                transform: translate3d(85px, 0, 0);
    }
}

@keyframes moveForever {
    0% {
        -webkit-transform: translate3d(-90px, 0, 0);
                transform: translate3d(-90px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(85px, 0, 0);
                transform: translate3d(85px, 0, 0);
    }
}


// LOADER____________________________________

.center {
    position: relative;
    height: 100vh;
    width: 100%;
}

.lds-ring {
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
  }

  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid rgba(214, 142, 142, 0);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(194, 194, 194) transparent transparent transparent;
  }

  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }

  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }