.section-4-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 40px 0;

    &-title {
        font-weight: 600;
        color: #0A2540;
        width: 90%;
        margin-top: 20px;
    }

    &-item {
        display: flex;
        flex-direction: column;
        

        img {
            width: 50px;
            height: auto;
        }

        h4 {
            font-weight: 300;
            width: 80%;
            font-size: 16px;
            line-height: 1.6;
            margin: 20px 0;
        }

        h5 {
            font-weight: 300;
            width: 80%;
            font-size: 16px;
            line-height: 1.6;
            margin: 10px 0;
        }
    }
}

.hero {

    h1 {
        text-align: center;
        font-size: 6rem;
        line-height: 1;
        font-weight: 900;
        color: #272727;
    }

    &-wrapper {
        width: 90%;
        margin: 150px auto 0;
        padding: 20px 0;
        max-width: 1300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &-gradient-cover {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	    background-size: 400% 400%;
	    animation: gradient 15s ease infinite;

        
    }

    h1 {
        mix-blend-mode: screen;
        background-color: rgb(255, 255, 255);
    }

    &-subtext {
        max-width: 600px;
        text-align: center;
        line-height: 1.8;
        font-size: 18px;
        margin: 90px 0;
        color: #7E7E7E;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.cta {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
    height: fit-content;
    display: flex;
    justify-content: center;
}

@media(max-width: 1200px) {
    .cta {
        width: 90%;
        max-width: 700px;
        margin: 70px auto;
        flex-direction: column-reverse;
    }

    .section-background {
        height: 1500px;
    }

}

@media(max-width: 640px) {

    .hero {
        
        h1 {
            font-size: 4.3rem;
        }

        &-wrapper {
            margin-top: 100px;
        }

    
    }

}

@media(max-width: 475px) {

    .hero {
        
        h1 {
            font-size: 3.3rem;
        }

        &-subtext {
            font-size: 16px;
            margin: 70px 0;
        }

        &-wrapper {
            margin-top: 70px;
        }

    
    }

}