.section {
    margin: 300px auto;
    color: #878787;
    width: 90%;
    max-width: 1000px;

    h4 {
        text-align: left;
        padding: 0 40px;
        font-weight: 900;
        color: #635BFF;
    }

    h3 {
        text-align: left;
        padding: 40px;
        font-size: 34px;
        font-weight: 700;
        line-height: 1.4;
        color: #0A2540;
        max-width: 600px;
    }

    &-text {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        max-width: 1000px;
    }

    &-background {
        background-color: #F6F9FC;
        position: absolute;
        height: 1200px;
        width: 100%;
        top: 1300px;
        z-index: -1;
        border-top: 1px solid #EAEAEA;
        border-bottom: 1px solid #EAEAEA;
    }

    &-children {

        max-width: 1000px;
        height: fit-content;
        align-items: center;
        padding: 0 40px;

        img {
            object-fit: contain;
            max-height: 500px;
            max-width: 100%;
            align-items: center;
        }


    }

    &-cards {
        display: flex;
        flex-direction: row;
    }

    &-images {
        display: flex;
        align-items: center;
        margin: 60px auto;
    }

    .tablet {
        height: 250px;
    }

    .phone {
        height: 200px;
    }

    &-card {

        &-wrapper {
            padding-right: 40px;
        }

        h3 {
            color: #373737;
            font-size: 24px;
            padding: 10px 0;
            margin-bottom: 10px;
            font-weight: 900;
        }

        h5 {
            color: inherit;
            font-weight: 300;
            font-size: 16px;
            line-height: 1.6;
        }
    }
}


@media(max-width: 1200px) {

    .section {

        &-text {
            flex-direction: column;
            width: 70%;
            text-align: center;
        }

        &-background {
            top: 1200px;
            height: 1700px;
        }

        &-children {
            transform: translateX(0);
        }
    }  

}

@media(max-width: 700px) {

    .section {
        

        h1 {
            font-size: 3rem;
            text-align: left;
            padding: 0 40px;
        }

        h4 {
            text-align: left;
        }

        &-cards {
            flex-direction: column;
        }

        &-card {
            padding: 0;
        }

        &-background {
            height: 2450px;
        }

        &-children {
            transform: translateX(0);
            flex-direction: column;
            height: fit-content;
        }

        &-images {
            flex-direction: column;
            margin: 0;
            
        }

        &-images img {
            transform: translateX(0);
            width: 100%;
        }
    }  

}