
.page-wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1300px;
}


.container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    pointer-events: none;
    width: 400px;
    height: 200px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.2);
    background: transparent;
    backdrop-filter: blur(10px);
    z-index: 1000;
}

